.container1{
	display: flex;
	margin: -8px;
}
.container1-2{
	flex-basis: 20%;
}
.navigation{
	display:block;
	flex-basis:20%;	
	height:1080px;
}
.logo img{
	width:20%;
	position: fixed;
	margin-top:-7.2%;
}
.navigation nav ul li{
	text-decoration: none;
	font-size:14px;
	margin-top: 30px;
	border-bottom: ridge;

}
.navigation nav ul li:hover{
	background-color: gray;
}
nav{
	margin-top: 100px;
}
ul{
	list-style-type: none;
	position: fixed;
}
li a{
    color: black;
    text-decoration: none;
    font-size: 22px;
}

h1{
	
	color: white;
	text-align: right;
	font-size: 44px;
	margin-right: 10%;
}
em{
	color: red;
	text-decoration-style: none;
}
.container1 p{
	color: black;
	font-size: 26px;
	text-align: right;
	margin-right: 15%;
	margin-top: -2%;
}
.nonnav{
	background-color: #778899;
}
.container2{
	background-color: #778899;
	flex-basis: 80%;
	display: flex;
}
.container2-1{
	background-color: #778899
	
	;
	flex-basis: 60%;
	padding: 10%;
}
.container2-2{
	background-color: black;
	flex-basis: 40%;
}
.mainimage img{
	height: 450px;
	border-radius: 10%;
	margin-left:-1% ;
}
.container2-1 h1{
	text-align: center;
	margin-top: -6%;
	margin-bottom: 4%;
}
.container2-1 small{
	margin-left: 27%;
	color: white;
	font-size: 15px;
}
.background{
	margin-top: 4%;
	background-color: white;
	height: 450px;
	width: 900px;
	border-radius: 10%;
	margin-left: -4%;
	display: flex;
}
.mainimage{
	display: block;
}
.row{
	
width: 100px;
	
margin-top: 12%;
margin-left: 30px;	
display: flex;
	
justify-content: space-evenly;
}
.icon img{
	margin-top: 50px;
	width: 20px;
	height: 20px;
}
.mainimage p{
	margin-left: 40px;
	text-align: left;
	margin-bottom: 10px;
	color: #FFB6C1;
	font-size: 12px;
}
.number{
	margin-left: 5px;
	margin-top: -91%;
}
.email{
	margin-left: 5px;
	margin-top: 15%;
}
.adress{
	margin-left: 5px;
	margin-top: 15.8%;
}
.logindata{
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
input[type=text], input[type=password] {
  width: 93%;
  padding: 12px 20px;
  margin: 8px 10%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.detailrow{
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	justify-content: space-around;
}
.detailitem{
	flex-basis: 45%;
	padding: 10px;
	padding-top: 20px;
	min-width: 200px;
	text-align: center;
}
b{
	margin-left: -45%;
	color:  #FFDB58;
}
.details p{
	font-size: 16px;
	color:  #FFDB58;
	text-align: center;
	padding-left: 60px;
}
.extra{
	display: flex;
	margin-left: 38px;
	width:430px;
}
.remember{
	width:107px;
	
}
.message p{
	text-align: left;
	margin-top: 30px;
	margin-bottom:0px
}
input[type=message] {
  width: 80%;
  padding: 8px 20px;
  margin: 5px 10%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.button{
	text-align:right;
	margin-top:20px;
	margin-right: 60px;
	
}
.button button{
	font-size:12px;
	border-radius:10%;
	width: 100px;
	height:30px;
	background-color: #FFDB58;
	transition: 0.5s;
}
.button button:hover{
	background-color: white;
	color:  #FFDB58;
}